<div class="columns">
  <div class="column is-half">
    <%= form_with(model: [namespace, resource].compact, data: {controller: "remote-form", target: "remote-form.form entries.form", action: "submit->remote-form#didSubmit ajax:error->remote-form#formError"}) do |form| %>

      <div class="container" data-target="remote-form.notification">
      </div>

      <% form_attributes.each do |attribute_name, attribute_options|%>
        <%= content_tag(:div, field_attributes(attribute_options)) do %>
          <%= render partial: "#{attribute_options.fetch(:type, :input)}",
            locals: { attribute_name: attribute_name,
                      form: form,
                      input_html: attribute_options.fetch(:input_html, {}),
                      options: attribute_options.fetch(:options, {}) } %>
        <% end %>
      <% end %>

      <div class="field spinner" data-target="remote-form.spinner">
        <div class="control has-text-centered">
          <%= image_tag asset_pack_path("media/images/spinner.gif") %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit t("form.submit.save"), class: "button is-link", data: {target: "remote-form.submitButton", "disable-with": t("form.submit.save")} %>
        </div>
        <div class="control">
          <%= link_to t("form.back"), collection_path, class: "button is-text", data: {target: "remote-form.cancelButton", action: "click->entries#onClose"} %>
        </div>
      </div>

    <% end %>
  </div>
</div>
