<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to ektar.root_path, class: "navbar-item" do %>
        <p><strong><%= Ektar.configuration.title %></strong></p>
      <% end %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <% if super_admin? %>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::Organization), ektar.super_admin_organizations_path, class: "navbar-item" %>
        </div>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::Plan), ektar.super_admin_plans_path, class: "navbar-item" %>
        </div>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::User), ektar.super_admin_users_path, class: "navbar-item" %>
        </div>
      <% elsif user_signed_in? %>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::User), ektar.admin_users_path, class: "navbar-item" %>
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <% if current_organization.present? %>
          <div class="navbar-item">
            <strong><%= current_organization.name %></strong>
          </div>
        <% end %>
        <div class="navbar-item has-dropdown is-hoverable">
          <% user_name = current_user.super_admin? ? t(".admin") : current_user.email %>

          <%= link_to user_name, "#", class: "navbar-link" %>

          <div class="navbar-dropdown">
            <% current_user.memberships.each do |membership| %>
              <%= link_to ektar.select_organization_path(current_organization, organization_id: membership.organization.global_id), method: :put, class: "navbar-item" do %>
                <span class="icon has-text-orange">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" width=".875em">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 21V5a2 2 0 00-2-2H7a2 2 0 00-2 2v16m14 0h2m-2 0h-5m-9 0H3m2 0h5M9 7h1m-1 4h1m4-4h1m-1 4h1m-5 10v-5a1 1 0 011-1h2a1 1 0 011 1v5m-4 0h4" />
                  </svg>
                </span>
                <strong><%= membership.organization.name %></strong>
              <% end %>
              <hr class="navbar-divider">
            <% end %>

            <%= link_to t(".logout"), ektar.sessions_path(current_user.global_id), method: :delete, class: "navbar-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to t(".login"), ektar.new_sessions_path, class: "navbar-item" %>
        <%= link_to t(".sign_up"), ektar.registrations_path , class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
