<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <%= link_to ektar_url_helpers.root_path, class: "navbar-item" do %>
        <img src="<%= asset_pack_path('media/images/ektar.svg') %>" heigth="25" width="128" />
      <% end %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarMain">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarMain" class="navbar-menu">
      <% if super_admin? %>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::Organization), ektar_url_helpers.super_admin_organizations_path, class: "navbar-item" %>
        </div>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::Plan), ektar_url_helpers.super_admin_plans_path, class: "navbar-item" %>
        </div>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::User), ektar_url_helpers.super_admin_users_path, class: "navbar-item" %>
        </div>
      <% else user_signed_in? %>
        <div class="navbar-item">
          <%= link_to model_human_name(Ektar::User), ektar_url_helpers.admin_users_path, class: "navbar-item" %>
        </div>
      <% end %>
    </div>

    <div class="navbar-end">
      <% if user_signed_in? %>
        <div class="navbar-item has-dropdown is-hoverable">
          <% user_name = current_user.super_admin? ? t(".admin") : current_user.email %>

          <%= link_to user_name, "#", class: "navbar-link" %>

          <div class="navbar-dropdown">
            <% if current_user.organizations.size > 1 %>
              <% current_user.organizations.each do |org| %> 
                <%= link_to ektar_url_helpers.select_organization_path(current_organization, organization_id: org.global_id), method: :put, class: "navbar-item" do %>
                  <span class="icon has-text-orange">
                    <img src="<%= asset_pack_path('media/images/organization-icon.svg') %>" width=".875em" />
                  </span>
                  <strong><%= org.name %></strong>
                <% end %>
              <% end %>
              <hr class="navbar-divider">
            <% end %>

            <%= link_to t(".logout"), ektar_url_helpers.session_path(current_user.global_id), method: :delete, class: "navbar-item" %>
          </div>
        </div>
      <% else %>
        <%= link_to t(".login"), ektar_url_helpers.new_session_path, class: "navbar-item" %>
        <%= link_to t(".sign_up"), ektar_url_helpers.registrations_path , class: "navbar-item" %>
      <% end %>
    </div>
  </div>
</nav>
