<nav class="level">
  <div class="level-left">
    <div class="level-item">
      <h2 class="title is-4"><%= model_human_name(resource_class) %><h2>
    </div>

    <div class="level-item">
      <%= form_with(url: collection_path, method: :get, local: true) do |form| %>
        <div class="field has-addons">
          <div class="control">
            <%= text_field_tag :q, params[:q], class: "input", maxlength: 40, placeholder: t("search.placeholder") %>
          </div>
          <div class="control">
            <%= form.submit t("search.submit"), class: "button is-info" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>

  <div class="level-right">
    <div class="level-item">
      <% if super_admin? %>
        <%= link_to new_title, new_resource_path, class: "button is-primary" %>
      <% end %>
    </div>
  </div>
</nav>
