
<%byebug%>
<h2><%= t("edit.resource", name: resource.model_name.human) %></h2>
<%= form_for(resource, as: resource, url: "edit_#{class_name.model_name.route_key}_path(#{resource.id})", html: { method: :put }) do |form| %>
  <% form_attributes.each do |attribute_name, attribute_type|%>
    <div class="field">
      <label class="label"><%= t("new.attribute", attribute: attribute_name.to_s.humanize) %></label>
      <%= render partial: "#{attribute_type}", locals: { attribute_name: attribute_name, form: form} %>
    </div>
  <% end %>
  <%= render partial: 'submit', locals: {form: form} %>
<% end %>
