<%= render partial: "tools" %>
<%= yield :custom_actions if content_for(:custom_actions) %>

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <% list_attributes.each do |attribute| %>
        <th>
          <%= resource_class.human_attribute_name(attribute) %>
        </th>
      <% end %>

      <% if super_admin? %>
        <th class="has-text-right"><%= t("table.actions.name") %></th>
      <% end %>
    </tr>
  </thead>

  <%= render partial: "resource", collection: collection, as: :resource %>
</table>

<h6 class="pagination-info"><%= pagy_info(@pagination) %></h6>
<%== pagy_bulma_nav(@pagination) if @pagination.pages > 1 %>
