<h2><%= t("new.resource", name: resource.model_name.human) %></h2>
<%= form_with model: resource do |form| %>
  <% form_new_attributes.each do |attribute_name, attribute_type|%>
    <div class="field">
      <label class="label"><%= t("new.attribute", attribute: attribute_name.to_s.humanize) %></label>
      <%= render partial: "#{attribute_type}", locals: { attribute_name: attribute_name, form: form} %>
    </div>
  <% end %>
  <%= render partial: 'submit', locals: {form: form} %>
<% end %>
