<h2 class="title is-4"><%= show_title %></h2>

<div class="columns">
  <div class="column is-half">
    <% show_attributes.each do |attribute| %>
      <div class="field is-horizontal">
        <div class="field-label">
          <label class="label"><%= resource_class.human_attribute_name(attribute) %></label>
        </div>

        <div class="field-body">
          <div class="field is-expanded">
            <div class="control">
              <span><%= attribute_value(resource[attribute] || resource.send(attribute)) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="field is-grouped">
      <div class="control">
        <%= link_to edit_action, edit_resource_path(resource), class: "button is-link" %>
      </div>
      <div class="control">
        <%= link_to t("form.back"), collection_path, class: "button is-text" %>
      </div>
    </div>
  </div>
</div>
