<!DOCTYPE html>
<html>
  <head>
    <title>Ektar | Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

  </head>
  <body>

    <% if flash.alert.present? || flash.notice.present? %>
      <article class="message <%= flash.alert.present? ? 'is-danger' : 'is-primary' %>">
        <div class="message-header">
          <p><%= flash.alert || flash.notice %></p>
          <button class="delete" aria-label="delete"></button>
        </div>
      </article>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
