<section>
  <div class="container">
    <div>
      <h2>Bienvenido a Ektar</h2>
      <%= form_with model: @resource, local: true, url: sessions_path do |form| %>
        <div class="field">
          <label class="label"><%= form.label :email %></label>
          <div class="control">
            <%= form.text_field :email, class: "input" %>
            <% if form.object.errors[:email].first.present? %>
              <p class="help is-danger"><%=  form.object.errors[:email].first %><p/>
            <% end %>
          </div>
        </div>

        <div class="field">
          <label class="label"><%= form.label :password %></label>
          <div class="control">
            <%= form.password_field :password, class: "input" %>
            <% if form.object.errors[:password].first.present? %>
              <p class="help is-danger"><%= form.object.errors[:password].first %><p/>
            <% end %>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= form.submit class: "button is-primary is-medium" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
