<tr data-id="<%= resource.id %>">
  <% list_attributes.each do |attribute| %>
    <% value = resource[attribute] %>
    <td class="<%= value.is_a?(String) ? "has-text-left" : "has-text-right" %>">
      <% if attribute == link_attribute %>
        <%= link_to attribute_value(value), resource_path(resource) %>
      <% else %>
        <% if attribute == :blocked_at %>
          <%= attribute_value(resource.memberships.first.blocked_at) %>
        <% else %>
          <%= attribute_value(value || resource.send(attribute)) %>
        <% end %>
      <% end %>
    </td>
  <% end %>

  <%= render partial: "actions", locals: { resource: resource } %>
</tr>
